body{
    font-family : "Times New roman"
}
header{
    font-weight :bolder;
    font-style :oblique; 
    width: 100%;
    text-align : center;
    margin-bottom: 10px;
}
h1{
    color: blue; 
}
h3{
    color:orange; 
}

/* ******************************** TEXTE ****************************************** */

@media screen and (min-width: 1081px) {
    #grid{
        height: 430px;
    }
    td{
        background-size: 30px 30px;
    }    
}
@media screen and (max-width: 1100px) {
    #grid{
        height: 400px;
    }
    td{
        background-size: 30px 30px;
    }    

    @media screen and (max-width: 1000px) {
        #grid{
            height: 380px;
        }
        @media screen and (max-width: 900px) {
            #grid{
                height: 360px;
            }
            @media screen and (max-width: 800px) {
                #grid{
                    height: 340px;
                }
                td{
                    background-size: 20px 20px;
                }                
                @media screen and (max-width: 700px) {
                    #grid{
                        height: 260px;
                    }
                    @media screen and (max-width: 600px) {
                        #grid{
                            height: 220px;
                        }
                        @media screen and (max-width: 500px) {
                            #grid{
                                height: 190px;
                            }
                            td{
                                background-size: 15px 15px;
                            }                            
                            @media screen and (max-width: 400px) {
                                #grid{
                                    height: 150px;
                                }
                                td{
                                    background-size: 10px 10px;
                                }                                
                                @media screen and (max-width: 300px) {
                                    #grid{
                                        height: 100px;
                                    }
                                    td{
                                        background-size: 5px 5px;
                                    }                                    
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

#grid{
    width: 100%;
    display: flex;
}
table{
    width: 40%;
    height: 100%;
}
td{
    background-position: center;
    background-repeat: no-repeat;
}
.white:hover, .black:hover{
    cursor: pointer;
}
.wpawn{
    background-image: url(img/Wpawn.png);
}
.bpawn{
    background-image: url(img/Bpawn.png);
}
.wking{
    background-image: url(img/Wking.png);
}
.bking{
    background-image: url(img/Bking.png);
}
.wfool{
    background-image: url(img/Wbishop.png);
}
.bfool{
    background-image: url(img/Bbishop.png);
}
.wknight{
    background-image: url(img/Wknight.png);
}
.bknight{
    background-image: url(img/Bknight.png);
}
.wqueen{
    background-image: url(img/Wqueen.png);
}
.bqueen{
    background-image: url(img/Bqueen.png);
}
.wrook{
    background-image: url(img/Wrook.png);
}
.brook{
    background-image: url(img/Brook.png);
}
p{
    font-size: larger;
    margin-bottom: 0;
    padding-bottom: 5px;
    font-weight: 400;
    color : orangered;
}